<body>
    <section id="signup">
            
        <div class="formss">
            <div class="forms">
                <form action="/login" method="POST">
                    <p>SIGN UP</p>
                    <div class="input-box">
                        <input type="text" name="name" required >
                        <label >NAME</label>
                    </div>
                    <div class="input-box">
                        <input type="text" name="email" required >
                        <label >EMAIL ID</label>
                    </div>
                    <div class="input-box">
                        <input type="password"  name="password" required >
                        <label >PASSWORD</label>
                    </div>
                    <input class="submit-form" type="submit" value="Submit">
                </form>
            </div>
        </div>


    </section>
</body>